<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <title>MyCDCollection</title>
    <meta name="description" content="Ta aplikacja internetowa to interaktywna baza płyt CD">
    <meta name="keywords" content="CD,collection,MyCDCollection">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="site">
    <div id="main">
      <div id="maincontent">
        <div id="navbar">
          <a href="#">
            <img src="/images/cd-logo.png" alt="Logo CD"/>
          </a>
          <nav>
            <ul id="menu">
              <li><a href="#"><b>Strona główna</b></a></li>
              <li><a href="/collection"><b>Moja Kolekcja</b></a></li>
              <li><a href="/contact"><b>Kontakt</b></a></li>
            </ul>
          </nav>
        </div>
        <article id="content">
          <p>
            <b>Witaj!</b> Ilość aktualnie posiadanych albumów: <b><%= numberOfAlbums %></b>
          </p>
          <figure>
            <img src="/images/cd-oldschool.jpg" alt="Oldschool CDs"/>
            <figcaption><b>Stare dobre płyty CD</b></figcaption>
          </figure>
        </article>

        <div style="clear:both;"></div>
      </div>

      <footer id="foot">
        <b><p>&copy;2022 MyCDCollection</p></b>
      </footer>

    </div>

  </body>
</html>
